<%= form_with(model: query, local: true) do |form| %>
  <% if query.errors.any? %>
    <div id="error_explanation" style="background-color: grey">
      <h2><%= pluralize(query.errors.count, "error") %> prohibited this query from being saved:</h2>

      <ul>
      <% query.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :query_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :query_email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :query_phone %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :query_state %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :query_city %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :query_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
