<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @query.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @query.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @query.phone %>
</p>

<p>
  <strong>State:</strong>
  <%= @query.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @query.city %>
</p>

<p>
  <strong>Description:</strong>
  <%= @query.description %>
</p>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
